/* src/App.css */

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container {
  margin-top: 20px;
  width: 40vw;
  display: flex;
  flex-direction: row;
}
.admin-header {
  margin-bottom: 0;
  margin-top: 0;
}
.admin-header h1 {
  color: black;
}
.admin-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.logo {
  margin-top: 0px;
  width: 15vw;
}
.admin-button:hover {
  background-color: #aefd89;
  color: white;
}

h1 {
  margin-top: 43px;
  margin-bottom: 0px;
}

/* Media queries */
@media (max-width: 768px) {
  .admin-button {
    padding: 8px 16px;
    margin: 5px;
  }

  h1 {
    font-size: 2.4em;
  }
}
/* Ensure this is included at the bottom of your CSS file */
.hide-logo .logo {
  display: none;
}
